.register-container h2,
.register-container h3,
.register-container p {
   margin: 0;
   padding: 0;
}
.register-container {
   background-color: #fff;
   margin: 0 auto;
   padding: 2rem 6rem;
   max-width: 90rem;
}
.register-container .register-form {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}
.register-form__field {
   display: flex;
   justify-content: space-between;
   gap: 2rem;
}
.register-form__field > div,
.register-form__field > div > div,
.register-form__field > div > div > div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
}
.register-form__field > div label {
   font-weight: bold;
   font-size: 1.4rem;
   margin-left: .2rem;
}
.register-form__field-image label {
   background-color: #ececec;
   border: none;
   font-size: 1.6rem;
   border-radius: 1.7rem;
   padding: 1.2rem 1.8rem;
}

.register-button-field .btn {
   width: 100%;
}